body
{
	margin: 0;
	padding: 0;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #333333;
}

a
{	
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #0090D9;
	text-decoration: none;
}

ul
{
	list-style: none;
}

/*-------------HEADER-------------*/
header
{
	height: 50px;
	background-color: #FFFFFF;
	color: #787878;
	overflow: hidden;
} 

.l
{
	float: left;
}

.r
{
	float: right;
}

.boton_menu
{
	width: 50px;
	height: 50px;
}

.boton_menu > span
{
	color: #4C5264;
	display: table;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	padding-top: 12px;
}

.boton_menu > span:hover
{
	color: #6C6D71;
}


#box_user
{
	border-collapse: collapse;
	float: right;
	height: 50px;
}

#box_user a
{
	vertical-align:middle;
}

#user_name
{
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;	
	display: table-cell;
	height: 50px;
	padding: 0 15px;
	color: #737278;
}

#user_name:hover
{

}

#user_name>span
{
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}

#portrait
{
	height: 30px;
	width: 30px;
	overflow: hidden;
	display: inline-block;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	margin-top: 10px;
}

#portrait>img
{
	height: 30px;
	width: 30px;
}

#mensaje_number
{
	background-color: #F06048;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	display: inline-block;
	margin-left: -15px;
	height: 15px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	padding: 0 4px;
}
/*-------------------CENTRO-------------------*/
#Centro_Box
{	
	display: block;
	background-color: #22262E;
}

#Contenido_Box
{
	background-color: #FFFFFF;
	overflow: hidden;
	display: block;
}

#Contenido
{
	background-color: #E5E9EC;
	display: table;
	width: 100%;
}

#contenido_one
{	
	display: table-cell;
}

#end_contenido
{
	min-height: calc(100vh - 120px);
	padding: 20px;
}

/*-------------USER-------------*/

#user_menu
{
	width: 0px;
	background-color: #F1F1F9;
	display: table-cell;	
	border-left: 1px solid #E7E6EB;
	overflow: hidden;
	-webkit-transition:300ms linear;
	-moz-transition:300ms linear;
	-o-transition:300ms linear;
	-ms-transition:300ms linear;
	transition:300ms linear;
}

/*-------------ASIDE-------------*/
#titulo_empresa
{
	height: 50px;
}

#Aside
{
	width: 240px;
	background-color: #1B1E24;
	display: block;
	float: left;
	overflow: hidden;
	color: #FFFFFF;
	height: 100vh;

	-webkit-transition:300ms linear;
	-moz-transition:300ms linear;
	-o-transition:300ms linear;
	-ms-transition:300ms linear;
	transition:300ms linear;
}
/*
#panelbar
{
	min-height: calc(100vh - 120px);
}
*/

/*-------------------TITULO-------------------*/


/*-------------------FOOTER-------------------*/
footer
{
	background-color: #E5E9EC;
	line-height: 20px;
	padding: 5px 10px;
}

