body
{
	margin: 0;
	padding: 0;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #333333;
}

a
{	
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	color: #0090D9;
	text-decoration: none;
}

ul
{
	list-style: none;
}


/*-------------HEADER-------------*/
header
{
	height: 50px;
	background-color: #FFFFFF;
	color: #787878;
	overflow: hidden;
} 

.l
{
	float: left;
}

.r
{
	float: right;
}

.boton_menu
{
	width: 50px;
	height: 50px;
}

.boton_menu > span
{
	color: #4C5264;
	display: table;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	padding-top: 12px;
}

.boton_menu > span:hover
{
	color: #6C6D71;
}


#box_user
{
	border-collapse: collapse;
	float: right;
	height: 50px;
}

#box_user a
{
	vertical-align:middle;
}

#text_name
{
	display: inline-block;
	max-width: 130px;
	height: 50px;
	vertical-align: top;
	overflow: hidden;
    text-overflow:ellipsis;
    padding-right: 5px;
}

#text_name > span
{
	white-space: nowrap ;
	line-height: 50px;
}

#user_name
{
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;	
	display: table-cell;
	height: 50px;
	/*padding-right: 12px;*/
	color: #737278;
}

#user_name:hover
{

}



#portrait
{
	height: 30px;
	width: 30px;
	overflow: hidden;
	display: inline-block;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	margin-top: 10px;
}

#portrait>img
{
	height: 30px;
	width: 30px;
}

#mensaje_number
{
	background-color: #F06048;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	display: inline-block;
	margin-left: -15px;
	height: 15px;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	padding: 0 4px;
	line-height: 15px;
}

#menu_rigth_top
{
	top: 43px;
	right: 9px;
}

#menu_rigth_top:before
{
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';

}

#menu_rigth_top:after
{
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}



/*-------------------CENTRO-------------------*/
#Centro_Box
{	
	display: block;
	background-color: #22262E;
}

#Contenido_Box
{
	background-color: #FFFFFF;
	overflow: hidden;
	display: block;
	z-index: 6;
	position: relative;
	-webkit-transition:100ms linear;
	-moz-transition:100ms linear;
	-o-transition:100ms linear;
	-ms-transition:100ms linear;
	transition:100ms linear;
}

#Contenido
{
	background-color: #E5E9EC;
	width: 100%;
	min-width: 240px;
}

#contenido_one
{	
	min-height: calc(100vh - 50px);
	min-height: -webkit-calc(100vh - 50px);
	min-height:: -moz-calc(100vh - 50px); 
	padding: 20px;
}

/*-------------USER-------------*/

#user_menu
{
	width: 240px;
	min-height: 100vh;
	position: fixed;
	background-color: #F1F1F9;	
	border-left: 1px solid #E7E6EB;
	overflow: hidden;	
	top: 0;
	right: 0;
	z-index: 5;
}

/*-------------ASIDE-------------*/
#titulo_empresa
{
	height: 50px;
}

#titulo_empresa img
{
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#Aside
{
	width: 0px;
	background-color: #1B1E24;
	display: block;
	float: left;
	overflow: hidden;
	color: #FFFFFF;
	-webkit-transition:100ms linear;
	-moz-transition:100ms linear;
	-o-transition:100ms linear;
	-ms-transition:100ms linear;
	transition:100ms linear;
	z-index: 7;
	position: relative;
}

#contenedor_panelbar
{
	height: calc(100vh - 50px);
	height: -webkit-calc(100vh - 50px);
	height:: -moz-calc(100vh - 50px); 
}


.MySidebar
{
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
	color: #8b91a0;
}

.MySidebar a, a:hover
{
	text-decoration: none;
}


.MySidebar > li 
{
	display: block;
	position: relative;
	min-width: 240px;
}

.MySidebar > li > a, .MySidebar > li > label
{
	color: #8b91a0;
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 11.5px 31px 11.5px 31px;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}

.MySidebar > li > label:before
{
	float: right;
	margin-top: 1px;
	margin-right: 3px;
	display: inline;
	font-family: FontAwesome;
	height: auto;
	font-size: 16px;
	content: "\f107";
	font-weight: 300;
	text-shadow: none;
}

.MySidebar > li > a:hover, .MySidebar > li > label:hover
{
	color: #FFFFFF;
}

.MySidebar > li > ul 
{
	padding: 0;
	background-color: #22262E;
}

.MySidebar > li > ul > li > a
{
	color: #e1eaf1;
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 11.5px 31px 11.5px 51px;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}

.MySidebar > li > ul > li > a:hover
{
	background-color: #2C3037;
}
/*
#panelbar
{
	min-height: calc(100vh - 120px);
}
*/

/*-------------------TITULO-------------------*/


/*-------------------FOOTER-------------------*/
footer
{
	background-color: #E5E9EC;
	line-height: 20px;
	padding: 5px 10px;
	margin-top: 20px;
}

