#groud
{
	display: table;
	width: 100%;
	width: calc(100% + 40px);
	width: -webkit-calc(100% + 40px);
	width:: -moz-calc(100% + 40px); 
	height: 100vh;
	margin: -20px;
}

#fixx
{
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
}

#contenido_one {

	min-height: 100vh !important;
	padding: 20px !important;
}

#Box_Centro_Login
{
	display: block;
	margin-left: auto;
	margin-right: auto;		
	max-width: 800px;
	min-height: 250px;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 81%, #19b75a 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(81%,#ffffff), color-stop(97%,#19b75a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 81%,#19b75a 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 81%,#19b75a 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 81%,#19b75a 97%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 81%,#19b75a 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#19b75a',GradientType=1 ); /* IE6-9 */

}

#Izquierda_Login
{
	background-color: #FFFFFF;
	min-height: 265px;
	padding: 25px;
}

#Izquierda_Login > h2
{
	margin-top: 5px;
	margin-bottom: 15px;
	color: #848389;
}

#Izquierda_Login > span
{
	color: #B8B6BB;
	display: block;
	margin-bottom: 10px;
}

#Izquierda_Login > .input-group
{	
	margin-bottom: 10px;
}

.alll
{
	padding-top: 10px;
}

.alll a
{
	line-height: 34px;
}

#Derecha_Login
{
	color: #FFFFFF;
	background-color: #19B75A;
	min-height: 265px;
	padding: 25px;
}

.centt 
{
	font-size: 16px;
	margin-top: 10%;
}

.centt label
{
	text-align: center;
	width: 100%;
}

.centt p
{
	width: 100%;
	text-align: center;
}

.centt button
{
	display: block;
	  margin-left: auto;
	  margin-right: auto;
}